<h1>Novo Autor</h1>
<form action="{{url_for('novo_autor')}}" method="post" id="formAutor" onsubmit="return validateForm()">
    <label for="id">id(0 para novo autor)</label>
    <input type="number" name="id" id="id" value="0" required>
    <br/>
    <label for="nome">nome</label>
    <input type="text" name="nome" id="nome" required>
    <br/>
    <button type="submit">Enviar</button>
</form>

<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th></th>
    </tr>
    
{% if autores :%}
    {% for autor in autores:%}
        <tr>
        <td>{{autor[0]}}</td>
        <td>{{autor[1]}}</td>
        <td><button onclick="Editar({{autor[0]}})">Editar</button></td>
    </tr>
    {% endfor %}
{% endif %}

</table>