<h1>Novo Genero</h1>
<form action="{{url_for('novo_genero')}}" method="post" id="formAutor" onsubmit="return validateForm()">
    <label for="id">id(0 para novo genero)</label>
    <input type="number" name="id" id="id" value="0" required>
    <br/>
    <label for="nome">nome</label>
    <input type="text" name="nome" id="nome" required>
    <br/>
    <button type="submit">Enviar</button>
</form>

<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th></th>
    </tr>
    
{% if generos :%}
    {% for genero in generos:%}
        <tr>
        <td>{{genero[0]}}</td>
        <td>{{genero[1]}}</td>
        <td><button onclick="Editar({{genero[0]}})">Editar</button></td>
    </tr>
    {% endfor %}
{% endif %}

</table>