<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <div id="navbar">
        <a href="{{url_for('home')}}">Home</a>
        {% if 'username' in session: %}
            {% if session['bibliotecario']: %}
            <a href="{{url_for('usuario')}}">Usuarios</a>
            <a href="{{url_for('editora')}}">Editoras</a>
            <a href="{{url_for('autor')}}">Autores</a>
            <a href="{{url_for('genero')}}">Generos</a>
            <a href="{{url_for('livro')}}">Livros</a>
            {% endif %}
            <span>Logado como: {{session['username']}}</span>
            <a href="{{url_for('logout')}}">Logout</a>
        {% else: %}
            <a href="{{url_for('login_get')}}">Login</a>
        {% endif %}

    </div>